<settings>

<servers>
  <server>
    <id>devopswebdomain-devopsweb</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>devopswebdomain-devopsweb</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>devopswebdomain-devopsweb</id>
        <url>https://devopswebdomain-522814731347.d.codeartifact.us-east-1.amazonaws.com/maven/devopsweb/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>devopswebdomain-devopsweb</id>
    <name>devopswebdomain-devopsweb</name>
    <url>https://devopswebdomain-522814731347.d.codeartifact.us-east-1.amazonaws.com/maven/devopsweb/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>



</settings>